<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- XHR type: flash, noflash (with http proxy) or handler (with http-poll handler)  -->
    <add key="RequestTransportType" value="handler" />
    <!-- file uploader type: flash or noflash  -->
    <add key="FileTransportType" value="noflash" />

    <add key="BoshPath" value="http://localhost:5280/http-poll/" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add verb="POST,GET" path="userphoto.ashx" type="ASC.Web.Talk.HttpHandlers.UserPhotoHandler, ASC.Web.Talk"/>
      <add verb="POST,GET" path="opencontact.ashx" type="ASC.Web.Talk.HttpHandlers.OpenContactHandler, ASC.Web.Talk"/>
      <add verb="POST,GET" path="unreadmessages.ashx" type="ASC.Web.Talk.HttpHandlers.UnreadMessagesHandler, ASC.Web.Talk"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="talk-userphoto" verb="POST,GET" path="userphoto.ashx" type="ASC.Web.Talk.HttpHandlers.UserPhotoHandler, ASC.Web.Talk"/>
      <add name="talk-opencontact" verb="POST,GET" path="opencontact.ashx" type="ASC.Web.Talk.HttpHandlers.OpenContactHandler, ASC.Web.Talk"/>
      <add name="talk-unreadmessages" verb="POST,GET" path="unreadmessages.ashx" type="ASC.Web.Talk.HttpHandlers.UnreadMessagesHandler, ASC.Web.Talk"/>
    </handlers>
  </system.webServer>
</configuration>
