#studio_passwordSettings
{
    padding: 20px 15px;
}

#studio_passwordSettings .title
{
    font-weight:bold;
}
#studio_passwordSettings .slider #slider
{
    width:200px;
}

#studio_passwordSettings .slider #count
{
    padding-left:15px;
}

#studio_passwordSettings .slider .countLabel
{
    padding-left:3px;
}

#studio_passwordSettings .fieldsBox
{
    margin-top:15px;
    vertical-align:top;
}

#studio_passwordSettings .fieldsBox .upper
{
 
}

#studio_passwordSettings .fieldsBox .upper input
{
    float:left;
    margin: 1px 3px 0 0px;
}

#studio_passwordSettings .fieldsBox .digits
{
 margin-top:8px;
}

#studio_passwordSettings .fieldsBox .digits input
{
    float:left;
   margin: 1px 3px 0 0;
}

#studio_passwordSettings .fieldsBox .spec
{
 margin-top:8px;
}

#studio_passwordSettings .fieldsBox .spec input
{
    float:left;
    margin: 1px 3px 0 0;
}

#studio_passwordSettings  .btnBox
{
    margin-top:20px;
}