<configuration>
  <system.web>
    <httpHandlers>
      <add verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.UserControls.Wiki"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="WikiFileHandler"/>
      <add name="WikFileHandler" verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.UserControls.Wiki"/>
    </handlers>
  </system.webServer>
</configuration>