<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="core" connectionString="Data Source=|DataDirectory|..\Data\Db\Core.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="webstudio" connectionString="Data Source=|DataDirectory|..\Data\Db\WebStudio.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="tmresource" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="tmresourceTrans" connectionString="Data Source=|DataDirectory|..\Data\Db\Resources.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="community" connectionString="Data Source=|DataDirectory|..\Data\Db\Community.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="crm" connectionString="Data Source=|DataDirectory|..\Data\Db\Crm.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="files" connectionString="Data Source=|DataDirectory|..\Data\Db\Files.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="projects" connectionString="Data Source=|DataDirectory|..\Data\Db\Projects.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
  <add name="calendar" connectionString="Data Source=|DataDirectory|..\Data\Db\Calendar.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite" />
</connectionStrings>