<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <clear />
  <add key="core.base-domain" value="localhost" />
  <add key="core.machinekey" value="Vskoproizvolny Salt par Chivreski" />
  <add key="core.notify.postman" value="smtp" />
  <add key="web.hide-settings" value="PromoSettings,ViewSettings,VersionSettings,PortalSettings,AccessSettings,TariffSettings,Backup,StudioSmsNotificationSettings" />
  <add key="web.cultures" value="en-US,fr-FR,de-DE,es-ES,en-GB,ru-RU,lv-LV,pt-BR,it-IT,tr-TR,el-GR,zh-CN,pl-PL,cs-CZ,uk-UA,vi-VN" />
  <add key="web.track-url" value="https://track.teamlab.com/stat/onepixel.gif?src=sourceforge&amp;v=65" />
  <add key="web.notenant-url" value="http://www.teamlab.com/saas.aspx" />
  <add key="web.import-contacts-domain" value="teamlab.com" />
  <add key="web.import-contacts-url" value="https://service.teamlab.com/import2/import-contacts/importframe.aspx" />
  <add key="api.url" value="/api/1.0/" />
  <add key="mobile.urlregex" value="^((?!((/api/)|(/mobile/)|(/products/files/docviewer\.aspx)|(/products/files/filehandler\.ashx))).)*$" />
  <add key="mobile.regex" value="android|avantgo|playbook|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od|ad)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino" />
  <add key="mobile.redirect-url" value="" />
  <add key="mobile.redirect-regex" value="android\s(2|1)\.|avantgo|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino" />
  <add key="files.viewed-images" value=".bmp|.gif|.jpeg|.jpg|.png|.ico" />
  <add key="files.docservice.viewed-docs" value=".docx|.doc|.odt|.xlsx|.xls|.ods|.csv|.pptx|.ppt|.odp|.rtf|.txt|.pdf|.svg|.mht|.ppsx|.pps|.djvu|.fb2|.epub|.xps" />
  <add key="files.docservice.edited-docs" value=".docx|.doc|.odt|.xlsx|.xls|.ods|.csv|.pptx|.ppt|.odp|.rtf|.txt|.svg|.mht|.html|.htm" />
  <add key="files.docservice.url.converter" value="" />
  <add key="files.docservice.url.doceditor" value="" />
  <add key="files.docservice.url.docviewer" value="" />
  <add key="files.docservice.url.spreditor" value="" />
  <add key="files.docservice.url.sprviewer" value="" />
  <add key="files.docservice.url.presenteditor" value="" />
  <add key="files.docservice.url.presentviewer" value="" />
  <add key="files.docservice.url.draweditor" value="" />
  <add key="files.docservice.url.drawviewer" value="" />
  <add key="files.docservice.key" value="" />
  <add key="files.docservice.html5" value="true" />
  <add key="files.docservice.url.api" value="" />
  <add key="crm.update.currency.info.enable" value="false" />
  <add key="crm.mailsender.quotas" value="1000" />
  <add key="crm.debugversion" value="true" />
  <add key="resources.from-db" value="true" />
  <add key="web.thirdparty-auth" value="false" />
</appSettings>