/*-----Portal document uploader---------*/
#popupDocumentUploader {
	display: none;
}
/*-header---*/
#popupDocumentUploader .popupContainerBreadCrumbs {
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	color: #666668;
}
#popupDocumentUploader .popupContainerBreadCrumbs a 
{
	color: #666668;
}
#popupDocumentUploader .popupContainerBreadCrumbs a.root,
#popupDocumentUploader .popupContainerBreadCrumbs a.root:hover
{
	text-decoration: none;
}
#popupDocumentUploader .popupContainerBreadCrumbs a.current {
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
#popupDocumentUploader .mainContainerClass .infoPanel {
	display: none;
}
#popupDocumentUploader .mainContainerClass {
	border-color:#444;
}

/*-body---*/
p.containerCheckAll {
	padding-left: 10px;
}
p.containerCheckAll {
	width: 100%;
	overflow: hidden;
	margin-top: 7px;
}
p.containerCheckAll #checkAll, p.containerCheckAll label {
	margin-right: 8px;
	display: inline;
}
p.containerCheckAll a {
	color: #333333;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}
#popupDocumentUploader .fileContainer {
	height: 355px;
	overflow: auto;
	margin-bottom: 20px;
	position: relative;
	border:none;
}
#popupDocumentUploader .fileContainer .loader {
	width: 50px;
	top: 65px;
	left: 260px;
	display: block;
	position: absolute;
}
#popupDocumentUploader .fileContainer ul.fileList
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

#popupDocumentUploader  .fileContainer ul.fileList li {
	display: block;
	padding: 1px 10px;
	cursor: pointer;
}
#popupDocumentUploader  .fileContainer ul.fileList li:hover 
{
	background-color:#D2E5F0;
}

#popupDocumentUploader .fileContainer ul.fileList li.even {
	background-color:#EDF6FD;
}
#popupDocumentUploader  .fileContainer ul.fileList li input {
	display: inline-block;
	margin-top: 6px;
	margin-right: 10px;
}
/*----empty list Files---*/

#emptyFileList .noContentBlock table td img{
	margin-top: 13px;
}
/*---buttons-----*/

.baseLinkButton.disable, .baseLinkButton.disable:hover {
	background-color: #88B0C2;
	background-image: none;
	cursor: default;
	border-color: #85A9BA;
}

/*---file type----*/
.fileContainer ul.fileList li span.folder {
	display: block;
	background-image: url("imagescss/content_folder.png");
	background-repeat: no-repeat;
	background-position: 2px 0;
	padding:4px 0 4px 30px;
	margin-left: 25px;
}

.fileContainer ul.fileList li label {
	display:inline-block;
	padding-top:4px;
	padding-left:25px;
	white-space:nowrap;
	background-position: 0 -34px;
}
