#requiredStep
{
    width:100%;
}

#requiredStep input
{
    height:20px;
    padding:0 3px;
    outline:none;
}

#requiredStep .personal
{
    float:left;
    width:380px;
}

#requiredStep .portal
{
    width:400px;
    float:left;
    margin-left:95px;
}
#requiredStep .portal .domainname
{
    margin-top:10px;
    font-size:14px;
    font-weight:bold;
    height:26px;
    line-height:26px;
    vertical-align:middle;
}
#requiredStep .portal .portalname
{
    margin-top:30px;
}

#requiredStep .portal #portalName
{
    width:406px;
    
}

#requiredStep .title
{
    font-size:18px;
    vertical-align:middle;
}

#requiredStep .info
{
    font-size:14px;
}

#requiredStep .emailBlock
{
    
}

#requiredStep .emailBlock .email
{
    margin-top:10px;
   height:26px;
   line-height:26px;
   vertical-align:middle;
}
#requiredStep .emailBlock .email .emailAddress
{
    float:left;
    font-weight:bold;
    font-size:14px;
}

#requiredStep .emailBlock .email .emailAddress .newEmail
{
    margin-top:5px;
    font-weight:bold;
     font-size:14px;
     width:300px;
}

#requiredStep .emailBlock .email .emailConfirmed
{
    float:left;
    margin: 0 15px;
    background: url(images/warning_16.png) center no-repeat;
    width:16px;
    height:inherit;
}

#requiredStep .emailBlock div.changeEmail
{
    height:20px;
    vertical-align:middle;
    float:left;
}

#requiredStep .emailBlock div.changeEmail .label {
    float:left;
    font-size: 14px;
}

#requiredStep .emailBlock div.changeEmail #dvChangeMail
{
    float:left;
    padding-left:10px;
}
#requiredStep .emailBlock div.changeEmail #dvChangeMail a.info
{
    border-bottom-color:blue;
}


#requiredStep .emailBlock div.changeEmail #dvChangeMail .newEmail
{
    height:16px;
    padding:0 2px;
    font-size:10px;
}

#requiredStep .emailBlock div.changeEmail #dvChangeMail #newEmailAddressBtn
{
    margin:0;
}

#requiredStep .passwordBlock
{
    margin-top:23px;
}

#requiredStep .passwordBlock input
{
    width:216px;
    height:20px;
    padding:0 2px;
}
#requiredStep .passwordBlock .pwd
{
    text-align:left;
    margin-top:10px;
}

#requiredStep .label
{
    font-weight:bold;
    padding-bottom:5px;
}

#requiredStep .passwordBlock .pwd .label span
{
    font-size:18px;
    color:Red;
    margin-left:4px;
    font-weight:bold;
}

#requiredStep .passwordBlock .pwd .label span.info
{
    color:#333333;
    font-weight:normal;
    font-size:12px;
}

.textEditMain
{
	color: #333333;
}
 .textEditDefault
{
    color:#9f9f9f;
}